Source: ros-rolling-point-cloud-msg-wrapper
Section: misc
Priority: optional
Maintainer: Apex.AI, Inc. <opensource@apex.ai>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-googletest <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, libgeometry-msgs-dev <!nocheck>, libsensor-msgs-dev, python3-geometry-msgs <!nocheck>, python3-sensor-msgs, ros-geometry-msgs <!nocheck>, ros-sensor-msgs, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-point-cloud-msg-wrapper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsensor-msgs-dev, python3-sensor-msgs, ros-sensor-msgs, ros-rolling-ros-workspace
Description: A point cloud message wrapper that allows for simple and safe PointCloud2 msg usage
